<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Авторизация</title>
</head>
<body>
<div class="login-container">
    <h2>Авторизация</h2>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-field">
            <label for="id_username">Имя пользователя</label>
            <div class="input-box">{{ form.username }}</div>
            <div class="input-error">{{ form.username.errors }}</div>

        </div>
        <div class="form-field">
            <label for="id_password">Пароль</label>
            <div class="input-box">{{ form.password }}</div>
            <div class="input-error">{{ form.password.errors }}</div>
        </div>
        <button type="submit">Войти</button>
    </form>
    <div class="link"><a href="{% url 'register' %}">Зарегистрироваться</a></div>
</div>
</body>
</html>