<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
</head>
<body>
<div class="register-container">
    <h2>Регистрация</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-field">
            <label for="id_username">Имя пользователя</label>
            <div class="input-box">{{ form.username }}</div>
            <div class="input-error">{{ form.username.errors }}</div>
        </div>
        <div class="form-field">
            <label for="id_password1">Пароль</label>
            <div class="input-box"> {{ form.password1 }}</div>
            <div class="input-error">{{ form.password1.errors }}</div>
        </div>
        <div class="form-field">
            <label for="id_password2">Подтвердите пароль</label>
            <div class="input-box">{{ form.password2 }}</div>
            <div class="input-error">{{ form.password2.errors }}</div>
        </div>
        <button type="submit">Зарегистрироваться</button>
    </form>
    <div class="link"><a href="{% url 'login' %}">Авторизоваться</a></div>
</div>
</body>
</html>
