<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>WeatherApp</title>
</head>
<body>
<div class="center">
    <div class="navbar">
        <div>
            <a href="{% url 'index' %}">Статистика</a>
            {% if user.is_authenticated %}
                <form method="post" action="{% url 'logout' %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" style="background:none;border:none;color:white;cursor:pointer;padding:10px;">
                        Выйти
                    </button>
                </form>
            {% else %}
                <a href="{% url 'login' %}">Войти</a>
            {% endif %}
        </div>
    </div>

    <form class='inputForm' id="cityInput" method="post">
        {% csrf_token %}
        <div class="input-container">
            <div class="input-box">{{ form.city_name }}</div>
            <div class="input-error">{{ form.city_name.errors }}</div>
            <button type="submit">Искать</button>
        </div>
    </form>

    <div class="main-window">
        <div class="current-city">{{ weather.name }}</div>
        <div class="temperature">
            <h2>{{ weather.temp }}°C</h2>
            <div class="inline-image"><img src="{% static 'icons/'|add:weather.weather_icon %}.png"/></div>
        </div>

        <div class="additional-info">
            Время: {{ weather.time }} <br>
            Ощущается как: {{ weather.feels_like }}°C <br>
            Восход: {{ weather.sunrise }}<br>
            Закат: {{ weather.sunset }}
        </div>
        <div class="forecasts-section">
            {% for elem in forecast %}
                <div class="forecast">
                    <div class="text">
                        {{ elem.time }} <br>
                        Температура: {{ elem.temp }}°C <br>
                        Ощущается как: {{ elem.feels_like }}°C
                    </div>
                    <div class="inline-image"><img src="{% static 'icons/'|add:elem.weather_icon %}.png"/></div>
                </div>
            {% endfor %}
        </div>

    </div>

    <div class="prev-cities">
        <h3 class="title">История запросов</h3>
        {% if user.is_authenticated %}
            <div class="cities-container">
                {% for city in cities %}
                    <form class='' id="cityInput" method="post" action="{% url 'index' %}">
                        {% csrf_token %}

                        <input type="hidden" name="city_name" value={{ city.name }}>
                        <button type="submit" class="full-width-button">{{ city.name }}</button>
                    </form>
                {% endfor %}
            </div>
        {% else %}
            <div>Для того, чтобы видеть свою историю поиска, вам необходимо <a
                    href="{% url 'login' %}">авторизоваться</a>!
            </div>
        {% endif %}
    </div>
</div>

</body>
</html>