<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/statistic.css' %}">
    <title>WeatherApp</title>
</head>
<body>
<div class="center">
    <form class='inputForm' id="cityInput2" method="post" action="{% url 'statistic' %}">
        {% csrf_token %}
        <div class="input-container">
            <div class="input-box">{{ form.city_name }}</div>
            <div class="input-error">{{ form.city_name.errors }}</div>
            <button type="submit">Искать</button>
        </div>
    </form>
    <div id="suggestions-container" class="autocomplete-suggestions"></div>

    <div class="main-window">
        {% if error_message %}
            <div class="error">
                {{ error_message }}
            </div>
        {% else %}
            <div class="info">
                Всего город "{{ name }}" был в поиске {{ searched }}
            </div>
        {% endif %}
    </div>

    <div class="navbar">
        <a href="{% url 'index' %}">Главная</a>

        {% if user.is_authenticated %}
            <form method="post" action="{% url 'logout' %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Выйти</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}">Войти</a>
        {% endif %}
    </div>
</div>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>